.DS_Store
/MaximoAnywhere/*.xml
/MaximoAnywhere/build/
/MaximoAnywhere/server/
/MaximoAnywhere/www/
/MaximoAnywhere/oslc-docs/
/MaximoAnywhere/libs/
/MaximoAnywhere/client-runtime-test/
!/MaximoAnywhere/anywhere-rdfs-puller.xml
*.iml
*.zip
*.log
*.properties
*.cmd
*.saved
*.sh
*.project
*.classpath
*.html
*.json
*.maximo-url-test
*.txt